@model IQueryable<FinTrader.Pro.DB.Models.Bond>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <tr>
            <th>SecId</th>
            <th>ShortName</th>
            <th>CouponValue</th>
            <th>NextCoupon</th>
            <th>BoardName</th>
            <th>Status</th>
            <th>CouponPeriod</th>
            <th>SecName</th>
        </tr>

        @foreach (var bond in Model)
        {
            <tr>
                <td>@bond.SecId</td>
                <td>@bond.ShortName</td>
                <td>@bond.CouponValue</td>
                <td>@bond.NextCoupon</td>
                <td>@bond.BoardName</td>
                <td>@bond.Status</td>
                <td>@bond.CouponPeriod</td>
                <td>@bond.SecName</td>
            </tr>
        }
    </table>
</div>
