@using FinTrader.Pro.Iss.Columns;
@model IEnumerable<Dictionary<string, string>>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Total: @Model.Count()</p>
    <table class="table">
        <tr>
            <th>SecId</th>
            <th>ShortName</th>
            <th>CouponValue</th>
            <th>NextCoupon</th>
            <th>CpuponPercent</th>
            <th>Status</th>
            <th>CouponPeriod</th>
            <th>Дата погашения</th>
        </tr>

        @foreach (var bond in Model)
        {
            <tr>
                <td>@bond[BondsColumnNames.SecId]</td>
                <td>@bond[BondsColumnNames.ShortName]</td>
                <td>@bond[BondsColumnNames.CouponValue]</td>
                <td>@bond[BondsColumnNames.NextCoupon]</td>
                <td>@bond[BondsColumnNames.CouponPercent]</td>
                <td>@bond[BondsColumnNames.Status]</td>
                <td>@bond[BondsColumnNames.CouponPeriod]</td>
                <td>@bond[BondsColumnNames.MatDate]</td>
            </tr>
        }
    </table>
</div>
